# File 1: Import und Parsen von Wikidump

### Libraries

In [1]:
import numpy as np
import pandas as pd
import wdp as parser

### Parsen des XML-Dumps

In [ ]:
parser.xml_to_csv('enwiki-p1p857.xml')

### Einlesen des geparsten CSV-Dump Files

In [2]:
df = pd.read_csv('/Users/m.wieser/Documents/vscode_workspace/pyscripts/dump_unpacked/enwiki-p1p857.csv', quotechar='|', sep = '#', engine = 'python', on_bad_lines='warn')
df['timestamp'] = pd.to_datetime(df['timestamp'],format='%Y-%m-%dT%H:%M:%SZ')

In [8]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548305 entries, 0 to 548304
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   page_id           548305 non-null  int64
 1   page_title        548305 non-null  object
 2   revision_id       548305 non-null  int64
 3   timestamp         548305 non-null  datetime64[ns]
 4   comment           448614 non-null  object
 5   contributor_id    548291 non-null  object
 6   contributor_name  375963 non-null  object
 7   bytes             548305 non-null  int64
 8   revtext           546854 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 37.6+ MB

             page_id   revision_id         bytes
count  548305.000000  5.483050e+05  5.483050e+05
mean      615.323158  3.511284e+08  6.548075e+04
std       223.177424  2.980818e+08  5.329390e+04
min        10.000000  4.430000e+02  0.000000e+00
25%       579.000000  9.593874e+07  2.751700e+04
50%       689.000000  2.697240e+08  5.281700e+04
75%       771.000000  5.521281e+08  8.866000e+04
max       857.000000  1.069247e+09  1.788058e+06

In [3]:
df.head()

,page_id,page_title,revision_id,timestamp,comment,contributor_id,contributor_name,bytes,revtext
0,10,AccessibleComputing,233192,2001-01-21 02:12:21,*,99,RoseParks,124,This subject covers* AssistiveTechnology* Acce...
1,10,AccessibleComputing,862220,2002-02-25 15:43:11,Automated conversion,1226483,Conversion script,35,#REDIRECT [[Accessible Computing]]
2,10,AccessibleComputing,15898945,2003-04-25 22:18:38,Fixing redirect,7543,Ams80,34,#REDIRECT [[Accessible_computing]]
3,10,AccessibleComputing,56681914,2006-06-03 16:55:41,fix double redirect,516514,Nzd,36,#REDIRECT [[Computer accessibility]]
4,10,AccessibleComputing,74466685,2006-09-08 04:16:04,cat rd,750223,Rory096,57,#REDIRECT [[Computer accessibility]] {{R from ...